<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Form</title>
</head>
<body>

    <h1>Yess this is login form</h1>


    <form action="/public/adduser" method="post">

        <input type="text" name="username">
        <input type="text" name="passoword">
        <input type="text" role="role">
        <button type="submit">SIGN IN</button>
    </form>
    
</body>
</html>